.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.redStar {
  color: #ff5c33
}

.myButton {
  margin-top: 10px;
  margin-right: 10px
}

.myCardButton {
  margin-right: 10px
}

.cardBottomButtons {
  vertical-align: bottom;
}

input.input-error,
select.input-error {
  border-color: red;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
  margin-bottom: 0rem
}

.filler {
  height: 6px;
  /* // background-color: black; */
}

.card-text {
  color: black;
  font-size: 17px;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.card-header {
  color: black;
  font-size: 29px;
}